@{
    ViewBag.Title = "AntData";
    ViewBag.Description = "熊i猜-電競免費競猜平台 ! 裡頭提供了各式各樣的電競賽事讓玩家開心遊玩競猜，現在就趕快揪好友上排行拿獎品，掌握電競新樂趣就要熊i猜";
    string date = DateTime.Now.ToString("MMddmmss");
}

<!-- Main Slider-->
<section class="hero-slider" style="background-image: url(~/Content/antblue/img/hero-slider/main-bg.jpg);">
    <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 7000 }">
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <img class="d-inline-block w-150 mb-4" src="~/Content/antblue/img/hero-slider/logo02.png" alt="Puma">
                            <div class="h2 text-body mb-2 pt-1">Google Home - Smart Speaker</div>
                            <div class="h2 text-body mb-4 pb-1">starting at <span class="text-medium">$129.00</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">View Offers&nbsp;<i class="icon-arrow-right"></i></a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="~/Content/antblue/img/hero-slider/02.png" alt="Puma Backpack"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <img class="d-inline-block w-150 mb-3" src="~/Content/antblue/img/hero-slider/logo01.png" alt="Sony">
                            <div class="h2 text-body mb-2 pt-1">Modern Powerful Laptop</div>
                            <div class="h2 text-body mb-4 pb-1">for only <span class="text-medium">$1,459.99</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now&nbsp;<i class="icon-arrow-right"></i></a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="~/Content/antblue/img/hero-slider/01.png" alt="Chuck Taylor All Star II"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <img class="d-inline-block w-150 mb-3" src="~/Content/antblue/img/hero-slider/logo03.png" alt="Motorola">
                            <div class="h2 text-body mb-2 pt-1">Beats Studio by Dr.Dre</div>
                            <div class="h2 text-body mb-4 pb-1">for only <span class="text-medium">$349.50</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now&nbsp;<i class="icon-arrow-right"></i></a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="~/Content/antblue/img/hero-slider/03.png" alt="Moto 360"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Products-->
<section class="container padding-bottom-2x mb-2">
    <h2 class="h3 pb-3 text-center">Featured Products</h2>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-card mb-30">
                <div class="product-badge bg-danger">Sale</div><a class="product-thumb" href="shop-single.html"><img src="~/Content/antblue/img/shop/products/01.jpg" alt="Product"></a>
                <div class="product-card-body">
                    <div class="product-category"><a href="#">Smart home</a></div>
                    <h3 class="product-title"><a href="shop-single.html">Echo Dot (2nd Generation)</a></h3>
                    <h4 class="product-price">
                        <del>$62.00</del>$49.99
                    </h4>
                </div>
                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-card mb-30">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                </div><a class="product-thumb" href="shop-single.html"><img src="~/Content/antblue/img/shop/products/02.jpg" alt="Product"></a>
                <div class="product-card-body">
                    <div class="product-category"><a href="#">Photo cameras</a></div>
                    <h3 class="product-title"><a href="shop-single.html">Aberg Best 21 Mega Pixels</a></h3>
                    <h4 class="product-price">$35.00</h4>
                </div>
                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-card mb-30">
                <a class="product-thumb" href="shop-single.html"><img src="~/Content/antblue/img/shop/products/05.jpg" alt="Product"></a>
                <div class="product-card-body">
                    <div class="product-category"><a href="#">Headphones</a></div>
                    <h3 class="product-title"><a href="shop-single.html">Zeus Bluetooth Headphones</a></h3>
                    <h4 class="product-price">$28.99</h4>
                </div>
                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-card mb-30">
                <a class="product-thumb" href="shop-single.html"><img src="~/Content/antblue/img/shop/products/07.jpg" alt="Product"></a>
                <div class="product-card-body">
                    <div class="product-category"><a href="#">Smartphones</a></div>
                    <h3 class="product-title"><a href="shop-single.html">Samsung Galaxy S9+</a></h3>
                    <h4 class="product-price">$839.99</h4>
                </div>
                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-card mb-30">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i><i class="icon-star"></i>
                </div><a class="product-thumb" href="shop-single.html"><img src="~/Content/antblue/img/shop/products/11.jpg" alt="Product"></a>
                <div class="product-card-body">
                    <div class="product-category"><a href="#">Headphones</a></div>
                    <h3 class="product-title"><a href="shop-single.html">Edifier W855BT Bluetooth</a></h3>
                    <h4 class="product-price">$99.75</h4>
                </div>
                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-card mb-30">
                <div class="product-badge bg-secondary border-default text-body">Out of stock</div><a class="product-thumb" href="shop-single.html"><img src="~/Content/antblue/img/shop/products/03.jpg" alt="Product"></a>
                <div class="product-card-body">
                    <div class="product-category"><a href="#">Computers, laptops</a></div>
                    <h3 class="product-title"><a href="shop-single.html">Microsoft Surface Pro 4</a></h3>
                    <h4 class="product-price">$1,049.10</h4>
                </div>
                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="shop-single.html"><i class="icon-arrow-right"></i><span>Details</span></a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-card mb-30">
                <a class="product-thumb" href="shop-single.html"><img src="~/Content/antblue/img/shop/products/12.jpg" alt="Product"></a>
                <div class="product-card-body">
                    <div class="product-category"><a href="#">Wearable electornics</a></div>
                    <h3 class="product-title"><a href="shop-single.html">Apple Watch Series 3</a></h3>
                    <h4 class="product-price">$329.10</h4>
                </div>
                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-card mb-30">
                <div class="product-badge bg-danger">Sale</div><a class="product-thumb" href="shop-single.html"><img src="~/Content/antblue/img/shop/products/09.jpg" alt="Product"></a>
                <div class="product-card-body">
                    <div class="product-category"><a href="#">Action cameras</a></div>
                    <h3 class="product-title"><a href="shop-single.html">Samsung Gear 360 Camera</a></h3>
                    <h4 class="product-price">
                        <del>$74.00</del>$68.00
                    </h4>
                </div>
                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
            </div>
        </div>
    </div>
    <div class="text-center"><a class="btn btn-outline-secondary" href="shop-grid-ls.html">View All Products</a></div>
</section>